.recipe {
    height: 200px;
    background-size: cover;
}

.recipe .container {
    padding: 20px;
    height: 100%;
    width: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.10),
            rgba(0, 0, 0, 0.5)
    );
    overflow: hidden;
}

.recipe h2 {
    color: white;
    font-weight: 300;
}

.recipe p {
    font-size: 12px;
    color: white;
}
